/* Базовые стили слоя затемнения и модального окна  */

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    /* фон затемнения */
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    /* фиксированное поцизионирование */
    cursor: default;
    /* тип курсара */
}


/* активируем слой затемнения */

.overlay:target {
    display: block;
}


/* стили модального окна */

.popup {
    top: -100%;
    right: 0;
    left: 50%;
    font-size: 14px;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    /* фиксированное позиционирование, окно стабильно при прокрутке */
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    background: #fefefe;
    /* скругление углов */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    /* внешняя тень */
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    -ms-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    -moz-transition: -moz-transform 0.6s ease-out;
    -o-transition: -o-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
}


/* активируем модальный блок */

.overlay:target+.popup {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}


/* формируем кнопку закрытия */

.close {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    transition: all ease .8s;
}

.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}

.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    transform: rotate(360deg);
}


/* изображения внутри окна */

.popup img {
    width: 100%;
    height: auto;
}


/* миниатюры слева/справа */

.pic-left,
.pic-right {
    width: 25%;
    height: auto;
}

.pic-left {
    float: left;
    margin: 5px 15px 5px 0;
}

.pic-right {
    float: right;
    margin: 5px 0 5px 15px;
}


/* элементы м-медиа, фреймы */

.popup embed,
.popup iframe {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
    min-width: 320px;
    max-width: 600px;
    width: 100%;
}

.popup h2 {
    /* заголовок 2 */
    margin: 0;
    color: #008000;
    padding: 5px 0px 10px;
    text-align: left;
    text-shadow: 1px 1px 3px #adadad;
    font-weight: 500;
    font-size: 1.4em;
    font-family: 'Tahoma', Arial, sans-serif;
    line-height: 1.3;
}


/* параграфы */

.popup p {
    margin: 0;
    padding: 5px 0
}


.mini-itm .photo-itm img {
    max-height: 50%;
    max-width: 50%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


.buy-button{
    height: 20%;
    width: 80%;
    margin-left: 10%;
    background-color: #ffffff;
    border: 3px solid #c2da69;
    color: #c2da69;
}



.header {
    text-align: center;
}

label {
    width: 200px;
    display: inline-block;
}

.info {
    width: 500px;
    padding: 10px;
    margin: auto;
    background-color: lightgray;
    box-shadow: 10px 10px 58px 1px rgba(0, 0, 0, 1);
    border-radius: 7px;
}

.personInfo {
    border-radius: 7px;
    background-color: grey;
    width: 480px;
    padding: 5px;
    margin: auto;
    box-shadow: 2px 3px 20px 0px rgba(0, 0, 0, 1);
}

.button {

    padding: 20px;
}

input optional {
    opacity: 10;
}

input:valid {
    background: #dfd;
}

input:invalid {
    background: #fdd;
}

.delivery{
    background: red;
}
.check-box{
    background: green;
}