.product {
    width: 20%;
    height: 348px; 
   margin-left: 18px;
    margin-top: 17px;
    background-color: white;
}
.product-img{
    text-align: center;
}


.product-memory li{
    display: inline-block;
    padding: 5px;
    font-size: 12px;
     text-decoration: underline;
}
.product-memory a{
    color: grey;
   
}
.description {
    text-align: justify;
    font-family: Calibri;
    font-size: 11px;
}

.price {
    margin-left: 70px;
    color: orange;
}

.product-context{
height: 17%;
}


.in-basket {

    height: 12%;
    width: 80%;
    margin-left: 10%;
    background-color: #ffffff;
    border: 3px solid #c2da69;
    color: #c2da69;
}


