#slider { 
    position: relative;
    text-align: center;
    top: 10px;
}

#slider{ 
    margin: 0 auto;
}

#slides article{ 
    width: 20%;
    float: left;
}

#slides .image{ 
    width: 500%;
    line-height: 0;
}

#overflow{ 
    width: 100%;
    overflow: hidden;
}

article img{ 
    width: 100%;
}

#desktop:checked ~ #slider{ 
    max-width: 960px; 
}

#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
    background: url('../media/images/prev.png') no-repeat; 
    float: left;
    display: block;
    height: 68px;
    width: 68px;
}

#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
    background: url('../media/images/next.png') no-repeat; 
    float: right;
    display: block;
    height: 68px;
    width: 68px;
}

label, a{ 
    cursor: pointer;
}

.all input{ 
    display: none;
}

#switch1:checked ~ #slides .image{
    margin-left: 0;
}

#switch2:checked ~ #slides .image{
    margin-left: -100%;
}

#switch3:checked ~ #slides .image{
    margin-left: -200%;
}

#switch4:checked ~ #slides .image{
    margin-left: -300%;
}

#switch5:checked ~ #slides .image{
    margin-left: -400%;
}

#controls{ 
    margin: -20% 0 0 0;
    width: 100%;
    height: 50px;
}

#active label{ 
    border-radius: 10px; 
    display: inline-block; 
    width: 15px;
    height: 15px;
    background: #bbb;
}

#active{ 
    margin: 14% 0 0;
    text-align: center;
}

#active label:hover{ 
    background: #76c8ff;
    border-color: #777 !important; 
}

#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
    background: #18a3dd;
    border-color: #18a3dd !important;
}

#slides .image{ 
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ 
    opacity: 0.6;
}

#controls label{
    transition: opacity 0.2s ease-out;
}