* {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 15px;
}





#m6-2-note-landing-new h1 {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    margin: 0;
    z-index: 1;
    position: relative;
    margin-bottom: 10px;
    font-family: Ubuntu, Arial, sans-serif;
}

#m6-2-note-landing-new p {
    font-size: 16px;
    text-align: center;
    margin: 0;
    z-index: 1;
    position: relative;
    line-height: 22px;
    font-family: Ubuntu, Arial, sans-serif;
}

#m6-2-note-landing-new .m6note-text {
    padding-top: 65px;
}

#m6-2-note-landing-new .m6note-text.antenne p {
    padding-bottom: 30px;
}

#m6-2-note-landing-new .m6note-text.antenne {
    padding-bottom: 30px;
}

#m6-2-note-landing-new .m6note-text p {
    padding-bottom: 65px;
}

#m6-2-note-landing-new .m6note-graphics {
    position: relative;
    margin-top: -3px;
    padding-top: 65px;
    height: 457px;
}

#m6-2-note-landing-new .m6note-graphics img {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

#m6-2-note-landing-new .m6note-camera {
    margin-top: -3px;
    height: 407px;
    background-image: url("./media/images/3-page3.jpg");
    color: white;
    padding-top: 130px;
    box-sizing: border-box;
}

#m6-2-note-landing-new .m6note-text.camera img {
    margin-top: -50px;
    margin-bottom: -50px;
}

#m6-2-note-landing-new .m6note-frontal-camera {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding-left: 135px;
    padding-top: 70px;
    padding-right: 120px;
    margin-bottom: -180px;
    z-index: 1;
}

#m6-2-note-landing-new .m6note-frontal-camera p,
#m6-2-note-landing-new .m6note-frontal-camera h1 {
    text-align: left;
}

#m6-2-note-landing-new .m6note-frontal-camera .text {
    padding-top: 85px;
}

#m6-2-note-landing-new .m6note-arcsoft {
    background-image: url("./media/images/Tel3.png");
    height: 545px;
    padding-top: 340px;
    box-sizing: border-box;
}

#m6-2-note-landing-new .m6note-fullhd {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#m6-2-note-landing-new .m6note-fullhd img {
    margin-bottom: 50px;
}

#m6-2-note-landing-new .m6note-light {
    padding-top: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#m6-2-note-landing-new .m6note-light img {
    padding-top: 75px;
}


#MeizuM6 {
    color: black;
    font-weight: bold;
}


.meizu-m6 {
    width: 100%;
    text-align: center;
    margin-top: 17px;
    background-color: white;
}

figcaption {
    font-size: 30px;
    width: 100%;
    color: black;
}


.product-memory li {
    display: inline-block;
    padding: 5px;
    font-size: 20px;
    text-decoration: underline;
    border: 2px solid grey;
    margin: 10px;
}

.product-memory li:hover {
    background: lightgrey;
}

.product-memory a {
    color: grey;
}

.price {
    text-align: center;
    color: white;
    background: orange;
    font-size: 35px;
    border: 3px solid orange;
    margin: 5px;
}

.price:hover {
    background: green;
    border: 3px solid green;
}

.in-basket {
    margin: 20px;
    height: 50px;
    width: 30%;
    background-color: #ffffff;
    border: 3px solid #c2da69;
    color: #c2da69;
}

.in-basket:hover {
    background-color: pink;
}




.slider {
    width: 640px;
    position: relative;
    padding-top: 320px;
    margin: 100px auto;

    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}





.slider>img {
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s;
}

.slider input[name='slide_switch'] {
    display: none;
}

.slider label {
    margin: 18px 0 0 18px;
    border: 3px solid #999;

    float: left;
    cursor: pointer;
    transition: all 0.5s;

    opacity: 0.6;
}

.slider label img {
    display: block;
}




.slider input[name='slide_switch']:checked+label {
    border-color: #666;
    opacity: 1;
}


.slider input[name='slide_switch']~img {
    opacity: 0;
    transform: scale(1.1);
}


.slider input[name='slide_switch']:checked+label+img {
    opacity: 1;
    transform: scale(1);
}