* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-image: url(./media/images/background.jpg);
    background-position: 50% 0px;
    background-repeat: no-repeat;
    background-color: rgb(239, 239, 239);
    cursor: default;
}

a {
    text-decoration: none;
}


li {
    list-style: none;
}

header {
    height: 100%;
    width: 72%;
    margin-left: 14%;
}

figcaption {
    word-wrap: normal;
    text-align: center;
    width: 200px;
}

figcaption a {
    color: blue;
    text-decoration: underline;
}

.header-top-menu {
    display: flex;
    position: relative;
    align-items: flex-center;
    background: #ababab;
}

.top-menu li {
    display: inline-block;
    padding: 1px 10px 1px 2px;
}

.top-menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}

.top-menu a:hover {
    text-decoration: underline;
}

.header-main-line {
    background-image: url(./media/images/mainline.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo {
    margin-left: 50px;
}

.search {
    width: 40%;
}

#search {
    width: 245px;
    padding: 6px 15px 6px 30px;
    margin: 3px;
    background-color: white;
}


input[placeholder] {
    font-size: 15px;
}

.phones {
    color: white;
}

.phones span {
    font-size: 10px;
}

.phones p {
    font-size: 24px;
}

.search-button {
    height: 30px;
    width: 19%;
    background-color: #ffffff;
    color: #c2da69;
}

.basket-button {
    width: 15%
}

.basket {
    width: 50%;
    border: none;
}

.header-navigation {
    display: flex;
    position: relative;
    align-items: flex-start;
    background: #7eb105;
}
.submenu{
    display: inline-block;
}

.main-menu li {
    display: inline-block;
    padding: 10px 20px 10px 20px;
}
.main-menu a {
    padding: 12px 4px;
    color: #ffffff;
    font-size: 14px;
}

.main-menu a:hover {
    background-color: #d0dbaf;
}

ul.submenu {
    display: none;
    position: absolute;
    color: white;
}

ul.submenu>li {
    display: inline-block;
}

ul.submenu>li> {
    display: block;
}

ul>li:hover>ul.submenu {
    display: block;
    background: rgba(67, 100, 200, 0.9);
    border-radius: 5px;
    z-index: 500;
}

ul.submenu>li>:hover {
    color: white;
    background: #607788;
}


.main-body {
    width: 72%;
    margin-left: 14%;
    background-color: white;
    position: absolute;
    z-index: 100;
}

.top-sales {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  
}

.top-sales-block {
    width: 100%;
    text-align: center;
    background: red;
    color: white;
}


footer {

    overflow: hidden;
    background: white;
    border-top: 1px solid grey;
}

.footer {
    display: flex;
}

.first-footer-div,
.second-footer-div,
.third-footer-div,
.fifth-footer-div {
    flex: 1 1 25%;
}

.footer-logo {
    padding-top: 20px;
    text-align: center;
}

.footer-logo-text {
    width: 100%;
    text-align: center;
    padding: 10px 10px 10px 10px;
    font-size: 12px;
}

.first-div-image {
    padding: 5px 0px 5px 15px;
}

.second-footer-div,
.third-footer-div {
    padding-top: 30px;
    text-decoration: underline;
}

.second-footer-div a {
    color: green;
}

.third-footer-div a {
    color: green;
}

.fifth-footer-div {
    color: black;
    font-weight: bold;
    padding-top: 50px;
}

.follow-us-text,
.accept-text {
    padding: 5px;
}

.pages {
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    align-items: flex-center;
    width: 92%;
    border-radius: 30px;
    border: 1px solid grey;
    padding-left: 5px;
    border: 1px solid #eeeeee;
    background-color: #fafafa;
}

.pages-nav {
    width: 88%;
    margin: 0;
    padding: 0;
}

.pages-nav li {
    margin: 3px;
    display: inline-block;
    list-style: none;
    border: 1px solid black;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 5px;
    background: #9ecb2d;
    background: -moz-linear-gradient(top, #9ecb2d 0%, #bdd079 0%, #bdd079 18%, #bdd079 18%, #bdd079 26%, #72aa00 90%, #90aa4a 100%, #bfd255 100%);
    background: -webkit-linear-gradient(top, #9ecb2d 0%, #bdd079 0%, #bdd079 18%, #bdd079 18%, #bdd079 26%, #72aa00 90%, #90aa4a 100%, #bfd255 100%);
    background: linear-gradient(to bottom, #9ecb2d 0%, #bdd079 0%, #bdd079 18%, #bdd079 18%, #bdd079 26%, #72aa00 90%, #90aa4a 100%, #bfd255 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ecb2d', endColorstr='#bfd255', GradientType=0);
    border: 1px solid #c2da69;
}

.pages-nav li a {
    color: white;
}

#back-button,
#forward-button {
    background-color: transparent;
    border: none;
    color: grey;
    align-items: center;
}
